@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

:root {
    --selaura-light: #f2f1e3;
    --selaura-dark: #222222;
    --selaura-soft: rgba(0, 0, 0, 0.05);
    --selaura-faint: rgba(0, 0, 0, 0.05);
    --selaura-scrollbar-bg: rgba(0, 0, 0, 0.1);
    --selaura-scrollbar-thumb: rgba(0, 0, 0, 0.3);

    &[data-theme="dark"] {
        --selaura-light: #222222;
        --selaura-dark: #f2f1e3;
        --selaura-soft: rgba(255, 255, 255, 0.05);
        --selaura-faint: rgba(255, 255, 255, 0.1);
        --selaura-scrollbar-bg: rgba(255, 255, 255, 0.1);
        --selaura-scrollbar-thumb: rgba(255, 255, 255, 0.4);
    }
}


body,
body > * {
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

aside {
    background-color: var(--color-fd-background) !important;
  }
  
  aside a[data-active="true"] {
    color: var(--color-fd-foreground) !important;
    background-color: var(--color-fd-accent) !important;
  }
  
video {
    border-radius: 1.5em;
}